extends layout

block content-scripts

block content
    div()
        div(id="contacts" class="container-fluid")
            div(class="row")
                div(class="col-md-2")
                div(class="col-md-8" ng-controller='ContactsController')
                    div(class="row")
                        div(class="col-md-12")
                            div(class="Header")
                                div(class="Header_Content")
                                    h1= title
                    div(class="row")
                        div(class="col-md-12")
                            div(class="Horizontal_Space")
                    div(class="row")
                        div(class="col-md-12")
                            h2 Facebook:
                            p
                                a(class="btn btn-danger" href="https://www.facebook.com/pages/Petscribe/521695567979960?sk=info") Petscribe
                    div(class="row")
                        div(class="col-md-12")
                            h2 Email:
                            p
                                a(class="btn btn-danger" href="#" ng-click='showAddress()') {{email}}
                div(class="col-md-2")

        div(class="container-fluid")
            div(class="row")
                div(class="col-md-12")
                    div(class="Horizontal_Space")